In [1]:
from src import textanalytics as ta

In [2]:
d1=ta.wordcount("now is the time for all good men to come to the aid of their party")
d2=ta.wordcount("the quick brown fox jumped over the sleeping dog")

In [3]:
l=ta.in_a_not_in_b(d1,d2)
l

['now',
 'is',
 'time',
 'for',
 'all',
 'good',
 'men',
 'to',
 'come',
 'aid',
 'of',
 'their',
 'party']

In [4]:
l=ta.in_a_not_in_b(d2,d1)
l

['quick', 'brown', 'fox', 'jumped', 'over', 'sleeping', 'dog']

In [5]:
l=ta.in_a_not_in_b(d1,d1)
l

[]

# some tests

In [6]:
#One Word Tests
d1=ta.wordcount("one")
assert len(d1)==1   # test there is only 1 word in the result
assert d1["one"]==1 # test count of the word "one" is 1

In [7]:
#Three Word Tests
d2=ta.wordcount("one two three")
assert len(d2)==3  # test there are 3 words in the result
assert d2["one"]==1 # test each word has a count of 1
assert d2["two"]==1
assert d2["three"]==1

In [11]:
#test that a_union_b(['one','two','three'],['one']) returns 'one'
u=ta.a_union_b(d1,d2)
assert(u==['one'])

In [8]:
#test that in_a_not_in_b of "one", "one" return an empty set
assert ta.in_a_not_in_b(d1,d1)==[]

In [9]:
#test that in_a_not_in_b of ['one','two','three'],['one'] returns a set with both 'two' and 'three' in it
l=ta.in_a_not_in_b(d2,d1)
assert("two" in l)
assert("three" in l)

['two', 'three']